


  .background-one{
    padding-top: -1%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  }
  .py-2{
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
  }
  
  .jcright {
    justify-content: right!important;
  }

  .HeaderLogo {
    position: absolute;
    margin:auto;
    width: 30vw !important;
    height: 30vw !important;
    max-width: 180px !important;
    max-height: 180px !important;
    top:0.1vw !important;
    
  }

  .Header-sticky{
    position: sticky;
    top: 0px;
    z-index: 100;
  }


body {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color:whitesmoke
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    text-decoration-color: #CEF4FF;
  }

  .nav-link{
    color: #6c757d;
  }

  .nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: #CEF4FF;
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .btn-primary-edit {
    color: #fff !important;
    background: rgb(148,205,233);
    background: linear-gradient(90deg, rgba(148,205,233,1) 0%, rgba(231,203,215,1) 100%);
}




.bg-new-finanzas{
  background: rgb(148,205,233);
  background: linear-gradient(90deg, rgba(148,205,233,1) 0%, rgba(236,193,212,1) 100%);
  margin-left: -20px;
  margin-right: -20px;
}

.bg-new{
  background: rgb(148,205,233);
  background: linear-gradient(90deg, rgba(148,205,233,1) 0%, rgba(236,193,212,1) 100%);

}

