


  .background-one{
    padding: 1% !important;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  }

  .HeaderLogo {
    position: absolute;
    margin:auto;
    width: 30vw !important;
    height: 30vw !important;
    max-width: 180px !important;
    max-height: 180px !important;
    top: -3.9vh !important;
    
  }
  .Header-sticky{
    position: sticky;
    top: 2rem;
    z-index: 100;
  }

  .navbar{
    border-radius: 15px;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    min-height: 55px;
    max-height: 55px;
    margin-left: 10vh;
  }

  .navbar a{
    text-decoration: none;
    color: inherit;
  }

  .logo{
    margin-left: -10vh;
  }

  .list{
    list-style: none;
    display: flex;
    gap: 25px;
  }

  #toggler,
  .navbar label{
    display: none;
  }

  @media screen and
  (max-width:600px){
    .menu{
      width: 100%;
      max-height: 0;
      overflow: hidden;
    }

    .list{
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }

    .navbar label{
      margin-left: 13vh;
      margin-top: 2rem;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      margin-block: auto;
    }
    #toggler:checked ~ .menu{
      max-height: 100%;
    }
  }

  .btn-primary-edit {
    color: #fff !important;
    background-color: #8C1200 !important;
    border-color: #6c757d !important;
}

