<!DOCTYPE html>
<html lang="en" class="backhtml">
    <div class= "background-one">
        <div class="Header-sticky">
            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Tu Mundo Mágico Travel</title>
                <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
                <link href="{{ url_for('static', filename='css/style-menu-footer.css')}}" rel="stylesheet" type="text/css">
                <!-- <link href="index-precios.css" rel="stylesheet" type="text/css"> -->
                <script type='text/javascript' src="/eel.js"></script>
                
            </head>
            <body>
                <script src="{{ url_for('static', filename='js/layout.js')}}"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
                <nav class = "navbar">
                    <a  class="logo">
                        <img class="HeaderLogo" src="https://i.ibb.co/vBBHwFg/LogoWeb.png" alt="">
                    </a>
                    <input type ="checkbox" id="toggler">
                    <label for="toggler"><i class="fa fa-bars"> </i></label>
                    <div class= "menu">
                        <ul class="list">
                            <li><a href="/">Home</a></li>
                            <li><a href="/">About</a></li>
                            <li><a href="/">Contact</a></li>
                        </ul>
                    </div>    
                </nav>
            </body>
        </div>
        
        <!-- #home -->
            <body>
                {%block body%}
    
                {%endblock%}
                <script src="{{ url_for('static', filename='js/layout.js')}}"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
                
            </body>
    
        <!-- Footer -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>


        <footer class="footerOne">
            <div class="rounded-social-buttons">
                
                <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>

            </div>
            <p class="text-center text-muted" style="color: #525252 !important;">&copy; 2022 Tu Mundo Mágico Travel SpA</p>
        </footer>
        
      </div>
    </div>

</html>