{% extends './headerOne.html' %}

{%block body%}
<link href="{{ url_for('static', filename='css/whatsapp.css')}}" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=16892467227&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n." class="floatws" target="_blank">
  <i class="fa fa-whatsapp my-floatws"></i>
</a>

<link href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet" type="text/css">
<div>

  <div >
    <h1>Hola</h1>
    <h1>Hola</h1>
    <h1>Hola</h1>
    <h1>Hola</h1>
    <h1>Hola</h1>
    <h1>Hola</h1><h1>Hola</h1>
    <h1>Hola</h1>
    h1>Hola</h1>
    <h1>Hola</h1>
    <h1>Hola</h1>
    <h1>Hola</h1><h1>Hola</h1>
    <h1>Hola</h1>
    h1>Hola</h1>
    <h1>Hola</h1>
    <h1>Hola</h1>
    <h1>Hola</h1><h1>Hola</h1>
    <h1>Hola</h1>
    h1>Hola</h1>
    <h1>Hola</h1>
    <h1>Hola</h1>
    <h1>Hola</h1><h1>Hola</h1>
    <h1>Hola</h1>
  </div>

</div>


{%endblock%}
