{% extends './headerFix.html' %}

    {%block body%}
    <!-- #Aqui va el codigo de body -->
    <link href="{{ url_for('static', filename='css/index-finanzas.css')}}" rel="stylesheet" type="text/css">
    <div class="container py-4">
        <header class="pb-3 mb-4">
            <a class="d-flex align-items-center text-dark text-decoration-none" style="justify-content: right">
                {% if name %}
                    <h1>{{ name }} Bienvenid@</h1>
                {% else %}
                    <h1>Sin usuario</h1>
                {% endif %}
            </a>
            
                        
        </header>
    
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Gastos e Ingresos</h1>
            <p class="col-md-8 fs-4">Gestor de los gastos e ingresos, con la posibilidad de ingresar nuevos movimientos y verificar los movimientos del mes.</p>
            
            <a href="/index-cuentas-ingresar" class="btn btn-primary-edit btn-lg" type="button">INGRESAR</a>
            <a href="/index-cuentas-verificar" class="btn btn-primary-edit btn-lg" type="button">VERIFICAR</a>
            </div>
        </div>
    
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Calculo IVA</h2>
                <p>EN DESARROLLO</p>
                <button class="btn btn-outline-light" type="button">Example button</button>
            </div>
            </div>
            <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Actualizacion de Precios</h2>
                <p>Automatizacion para actualizar los precios de los materiales, desde Imperial.cl . Este bot esta diseñado para extraer los precios de Melaminas, Tapacantos, Bisagras y Durolac.</p>
                <a href="index-precios.html" class="btn btn-outline-secondary" type="button">BOT PRECIOS</a>
            </div>
            </div>
        </div>
    </div>
    {%endblock%}